ilw-call-to-action {

    .ilw-buttons {
        justify-content: left;
    }

    &[align="center"] {
        .ilw-buttons {
            justify-content: center;
        }
    }

    a {
        color: var(--ilw-call-to-action--link);

        &:visited {
            color: var(--ilw-call-to-action--link-visited);
        }

        &:hover {
            color: var(--ilw-call-to-action--link-focus);
        }

        &:focus {
            color: var(--ilw-link--focus-color);
            background-color: var(--ilw-link--focus-background-color);
            outline: var(--ilw-link--focus-outline);
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--ilw-call-to-action--heading-color);
        font-size: 1.944em;

        &:first-of-type {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

/* Make il icons color currentColor in the component */
ilw-call-to-action path.cls-1 {
    fill: currentColor;
}
